.header {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo {
    width: 50px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 0px;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header_searchInput {
    display: flex;
    flex: 1;
    align-items: center;
    border: none;
    border-radius: 10px;
    height:27px;
}

.header_SearchIcon {
    padding: 5px;
    margin: 20px;
    border-radius: 100px;
    height: 22px !important;
    background-color: white;
}

.header_nav {
    display: flex;
    justify-content: space-evenly;
}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: aliceblue;
}

.header_optionLineOne {
    font-size: 10px;
}

.header_optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header_optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header_basketCount {
    margin-left: 10px;
    margin-right: 30px;
}